<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chronos.chronos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.Usuario.ActCadastroUsuario"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Principal.ActPrincipal"
            android:label="@string/title_activity_act_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.TiposOcorrencias.ActTiposOcorrencias"
            android:label="@string/title_activity_act_tipos_ocorrencias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.TiposOcorrencias.ActTiposOcorrenciasCadastro"
            android:label="@string/title_activity_act_tipos_ocorrencias_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.BensMateriais.ActBensMateriais"
            android:label="@string/title_activity_act_bens_materiais"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.BensMateriais.ActBensMateriaisCadastro"
            android:label="@string/title_activity_act_bens_materiais_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActOrdemServico"
            android:label="@string/title_activity_act_ordem_servico"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.OrdemServico.ActOrdemServicoCadastro"
            android:label="@string/title_activity_act_ordem_servico_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActBemMaterialPesquisar"
            android:label="@string/title_activity_act_bem_material_pesquisar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.BensMateriais.ActBensMateriaisPesquisar"
            android:label="@string/title_activity_act_bens_materiais_pesquisar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Servicos.ActServicos"
            android:label="@string/title_activity_act_servicos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Servicos.ActServicosCadastro"
            android:label="@string/title_activity_act_servicos_cadastro"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>